# Auto detect text files and perform LF normalization
* text=auto

# Directories
/.wordpress-org export-ignore
/.github export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/phpcs.xml export-ignore
/README.md export-ignore
